<header>
  <div class="text-center mt-5">
    <h2>Añade el libro que has leído</h2>
  </div>
</header>

<div class="container">
<div class="row">
  <div class="col-md-8">
{{>tablas/tablaform}}
</div>  
<div class="col-md-4 ">
<a class="h-100 d-flex align-items-center justify-content center">
    <img src="/fotos/elmedico.png" alt="el medico" width="150">
</a>
</div>
</div>
</div>