<div class="jumbotron my-5">
<h1 class="display-4 text-center">Los libros que he leído</h1>
  </div>  
<div class="container p-5">
<div class="row">
  <div class="col-sm-4 card">
   <div class="card-header">
    <img src="https://imagessl1.casadellibro.com/a/l/t5/81/9788417761981.jpg" class="card-img-top" alt="el medico" width="150">
     <div class="card-body">
    <h5 class="card-title">El sótano de Oxford</h5>
    <p class="card-text">Fantástico libro que no te dejara mal sabor de boca, todo lo contrario, no podrás dejar de leer.</p>
</div>
  </div>   
    </div>
   <div class="col-sm-4 card">
   <div class="card-header">
    <img src="https://imagessl0.casadellibro.com/a/l/t5/90/9788417910990.jpg" class="card-img-top" alt="el medico" width="150">
     <div class="card-body">
    <h5 class="card-title">El Buen Padre</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
  </div>     
    </div> 
    <div class="col-sm-4 card">
   <div class="card-header">
    <img src="https://imagessl5.casadellibro.com/a/l/t1/55/9788401025655.jpg" class="card-img-top" alt="el medico" width="150">
     <div class="card-body">
    <h5 class="card-title">La hora de las Gaviotas</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
  </div>
     </div>  
</div>
<div class="row mt-3">
  <div class="col-sm-4 card">
   <div class="card-header">
    <img src="https://imagessl4.casadellibro.com/a/l/t5/84/9788499080284.jpg" class="card-img-top" alt="el medico" width="150">
     <div class="card-body">
    <h5 class="card-title">Los pilares de la tierra</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
  </div>   
    </div>
   <div class="col-sm-4 card">
   <div class="card-header">
    <img src="https://imagessl6.casadellibro.com/a/l/t5/56/9788408249856.jpg" class="card-img-top" alt="el medico" width="150">
     <div class="card-body">
    <h5 class="card-title">Ultimos días en Brlín</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
  </div>     
    </div> 
    <div class="col-sm-4 card">
   <div class="card-header">
    <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1639645475-ken-follet-nunca-1639645469.jpg?crop=1xw:1xh;center,top&resize=768:*" class="card-img-top" alt="el medico" width="150">
     <div class="card-body">
    <h5 class="card-title">Nunca</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
  </div>
     </div>  
</div>
</div>

    <h2>al fin!!!</h2>
